<h1>My Places!!!</h1>
<form action='/result'>
  <div class="form-group">
    <label for="thePlace">Enter a place you have been: </label>
    <input id="thePlace" name="thePlace" class="form-control" type="text">
  </div>

  <button type='submit' class='btn'>Get Results!</button>
</form>
